html {
  font-size: 10px; /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: 'Roboto', sans-serif; /* 这应该是你从 Google Fonts 得到的其余输出。 */
}
h1 {
  font-size: 60px;
  text-align: center;
}
p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
html {
  background-color: #ee3f4d; /*背景颜色*/
}
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: auto;
}
body {
  width: 600px;
  margin: 0 auto;/*居中*/
  background-color: #ef475d;
  padding: 0 20px 20px 20px;/*上右下左*/
  border: 5px solid black;
}
h1 {
  margin: 0;/*去掉标题的上下边距*/
  padding: 20px 0;/*上下 左右*/
  color: black;
  text-shadow: 2px 2px 0px #912432;
}
